[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
pandas = "*"
textblob = "*"
streamlit-lottie = "*"
streamlit-bokeh-events = "*"
requests = "*"
image = "*"
tweepy = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.10"
